.img_not{
    width: 100%;
    height: 400px;
    text-align: center;
    line-height: 400px;
}.ant-tabs-tab.ant-tabs-tab-active {
    width: 17%;
    background-color: blue;
}

.ant-tabs-nav-list {
    width: 100%;
}

.ant-tabs-tab {
    width: 17%;
}

